body {
  font-family: "K2D", sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
  font-size: 16px;
  font-family: "K2D", sans-serif;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

nav {
  /* border: 2px solid red; */
  margin-top: 80px;
}

h1 {
  margin-top: 170px;
  /* border: 2px solid red; */
}

.border-Test {
  border: 3px solid red !important;
}

span {
  color: #38336b;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.header-text1 {
  font-size: 42px;
  font-weight: bolder;
}

.sub-header {
  font-size: 18px;
  color: #c4c4c4;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  font-family: "Arvo", serif;
}

.mb-0 {
  margin-bottom: 0px !important;
}

mb-20 {
  margin-bottom: 20px !important;
}

.m-0 {
  margin: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.search-container {
  padding: 15px 15px;
  margin-top: 50px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.input-color {
  background-color: #f2f2f2;
}

input {
  border: none;
  outline: none;
  margin-right: 4px;
}

.icon-style {
  margin-left: auto;
  align-items: flex-start;
  color: #000000;
}

.search-icon {
  width: 24px;
  height: 24px;
}

/* .search-container .search-input {
  border: none;
  outline: none;
  width: 200px;
} */

.book-head {
  color: #38336b;
  font-size: 24px;
  margin-top: 40px;
}

.book {
  width: 23%;
  margin-bottom: 40px;
}

.image-container {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
  color: #c4c4c4;
}

.justify-content-between {
  justify-content: space-between;
}

.book-container {
  margin-top: 40px;
  flex-wrap: wrap;
}

.d-none {
  display: none !important;
}

.w-65 {
  width: 100%;
}

.w-35 {
  width: 100%;
}

@media (min-width: 772px) {
  .d-md-inline {
    display: inline !important;
  }

  .w-65 {
    width: 65%;
  }

  .w-35 {
    width: 35%;
  }
}

@media (max-width: 440px) {
  .container {
    padding-left: 6px;
    padding-right: 6px;
  }

  .book {
    width: 100%;
  }

  .flex-sm-column {
    flex-direction: column;
  }
}
